@import "../../assets/css/mixins.scss";

.login-panel {
  margin-top: 200px;

  .userpic {
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -60px;
    @include transition(all ease 0.5s);
    @include box-shadow(0px 3px 10px 0 rgba(0, 0, 0, 0.15));

    &:hover {
      @include box-shadow(0px 8px 15px 0 rgba(0, 0, 0, 0.25));
    }

    img {
      width: 100%;
    }
  }

  .panel-body {
    h2 {
      font-size: 22px;
      font-weight: 400;
    }

    form {
      margin: 15px auto;

      fieldset {
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
      }

      .btn {
        @include transition(all ease 0.5s);
      }
    }
  }
}
