<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="login-panel panel panel-default">
        <div class="userpic"><img src="../../assets/icons/default_profile.png" alt="" /></div>
        <div class="panel-body">
          <h2 class="text-center">Please Sign In</h2>
          <form>
            <fieldset>
              <div class="form-group">
                <input class="form-control text-center" placeholder="Username" name="username" type="text" autofocus="" [(ngModel)]="username">
              </div>
              <div class="form-group">
                <input class="form-control text-center" placeholder="Password" name="password" type="password" value="">
              </div>
              <div class="checkbox">
                <label>
                  <input name="remember" type="checkbox" value="Remember Me">
                  Remember Me
                </label>
              </div>
              <br>
              <a href="{{username == 'admin' ? '/dashboard' : '/projects'}}" class="btn btn-lg btn-primary btn-block text-center">Login</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
