@import "../../assets/css/mixins.scss";

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  background-color: #f0f3f5;

  .loader {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 128px;
    height: 128px;
    margin-top: -64px;
    margin-left: -64px;
    background: url('../icons/giphy.gif');
  }

  #wrapper {
    width: 100%;

    #page-wrapper {
      position: inherit;
      margin: 0 40px 0 90px;
      padding: 0 15px;
    }
  }

  /*==============================*/
  /*========== header ============*/
  /*==============================*/
  .header-wrapper {
    padding-bottom: 40px;
    margin-bottom: 0;
    margin-top: 40px;

    h1 {
      padding-bottom: 0;
      margin: 10px 0;
      line-height: 40px;
      border: 0;
      font-size: 34px;
      font-weight: 300;
      color: #222222;
    }
  }

  /*==============================*/
  /*====== project panel =========*/
  /*==============================*/
  .panel {
    margin-bottom: 35px;
    position: relative;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    @include transition(all ease .5s);
    @include box-shadow(0px 2px 10px 0 rgba(0, 0, 0, 0.05));

    &:hover {
      @include box-shadow(0px 5px 18px 0 rgba(0, 0, 0, 0.15));
    }
  }

  /*==============================*/
  /*====== project panel =========*/
  /*==============================*/
  .project-panel {
    margin-bottom: 35px;
    position: relative;
    border: 2px solid rgba(220, 93, 42, 0.5);
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    @include transition(all ease .5s);
    @include box-shadow(0px 3px 10px 0 rgba(220, 93, 42, 0.25));

    &:hover {
      @include box-shadow(0px 6px 18px 0 rgba(220, 93, 42, 0.45));
    }

    h3 {
      margin-top: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: #dc5d2a;
      }
    }

    p {
      color: #607D8B;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        display: inline-block;
        padding: 2px 8px;
        border-radius: 10px;
        color: #ffffff;
        background-color: #dc5d2a;
        margin-right: 3px;
        cursor: pointer;
      }
    }

    .spacer-ul {
      display: block;
      height: 34px;
    }
  }

  /*==============================*/
  /*======== table list ==========*/
  /*==============================*/
  table.table-list {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    @include box-shadow(0px 2px 10px 0 rgba(0, 0, 0, 0.05));

    thead {
      white-space: nowrap;

      tr {

        th {
          padding: 15px 15px 15px 10px;
          background: #fafafb;
          cursor: pointer;

          &.sorting {
            &:after {
              content: "\f0dc";
              font-family: fontawesome;
              color: rgba(50, 50, 50, 0.3);
              position: absolute;
              right: 3px;
              top: 16px;
            }

            &:hover {
              color: #dc5d2a;
            }
          }
          &.sorting_asc {
            &:after {
              content: "\f0de";
            }
          }
          &.sorting_desc {
            &:after {
              content: "\f0dd";
            }
          }
        }
      }
    }

    tr {
      position: relative;

      th, td {
        padding: 5px 5px 5px 10px;
        line-height: 20px;
        vertical-align: middle;
        border-width: 0;
        border-top: 1px solid #e1eaef;
        font-size: 13px;
        background: #fff;
        position: relative;
        @include transition(all ease .7s);
      }

      th:last-of-type {
        cursor: inherit;
      }

      td {
        &:before, &:after {
          content: " ";
          opacity: 0;
          display: block;
          z-index: 9;
          float: left;
          border-radius: 0;
          border: 0 none;
          position: absolute;
          left: 0;
          width: 100%;
          height: 0;
          @include transition(all ease .5s);
          @include box-shadow(none);
        }
        &:before {
          top: 0;
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 12%, rgba(0, 0, 0, 0.65) 100%);
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 12%, rgba(0, 0, 0, 0.65) 100%);
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 12%, rgba(0, 0, 0, 0.65) 100%);
        }
        &:after {
          bottom: 0;
          background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.08) 88%, rgba(0,0,0,0) 100%);
          background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.08) 88%, rgba(0,0,0,0) 100%);
          background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.08) 88%, rgba(0,0,0,0) 100%);
        }

        .btn_edit {
          color: #fff;
          background-color: #5bc0de;
          border-color: #5bc0de;

          i {
            &:before {
              content: "\F044";
            }
          }

          &.btn_done {
            background-color: #4cae4c;
            border-color: #4cae4c;

            i {
              &:before {
                content: "\f00c";
              }
            }
          }
        }
      }

      &:hover {
        td {
          &:before, &:after {
            opacity: 0.1;
            height: 15px;
          }
          &:before {
            top: -15px;
          }
          &:after {
            bottom: -15px;
          }
        }
      }
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #acc5d2;
    }
  }

  /*==============================*/
  /*======== pagination ==========*/
  /*==============================*/
  .pagination-wrapper {
    margin: 0;
    white-space: nowrap;
    text-align: right;

    ul.pagination {
      white-space: nowrap;
      margin: 10px 0;
      line-height: 40px;
      float: right;

      li {
        margin: 0 5px;
        float: left;
        display: block;
        cursor: pointer;

        &.active, &:not(.disabled):hover {
          a {
            color: #ffffff;
            background-color: #dc5d2a;
            border-color: #dc5d2a;
          }
        }

        a {
          display: block;
          float: left;
          background: none;
          border-radius: 50px;
          height: 40px;
          width: 40px;
          line-height: 40px;
          text-align: center;
          vertical-align: middle;
          padding: 0;
          color: #607d9c;
          border-color: rgba(96,125,139,0.5);
        }
      }
    }
  }

  /*==============================*/
  /*=========== form =============*/
  /*==============================*/
  .form-control {
    line-height: 12px;
    padding: 10px 15px;
    min-height: 42px;
    vertical-align: middle;
    font-size: 14px;
    background: transparent;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid rgba(96,125,139,0.4);
    border-radius: 0;
    box-sizing: border-box;

    &:focus {
      border-bottom: 2px solid #03A9F4;
      box-shadow: none;
      outline: none;
    }
  }

  label {
    font-weight: 600;
  }

  .btn {
    border-radius: 3px;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 400;

    &:hover, &:focus, &:active {
      outline: 0!important;
      box-shadow: none;
    }

    i {
      font-size: 17px;
    }
  }

  .btn-circle {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 40px;

    i {
      font-size: 15px;
    }
  }

  .btn-raport {
    background-color: #dc5d2a;
    line-height: 35px;
    margin-top: 5px;
  }
}
