<div id="wrapper">
  <app-sidebar-menu adminMode="1"></app-sidebar-menu>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="employee-list-wrapper form-inline">
          <!-- start header  -->
          <div class="row">
            <div class="col-md-12 header-wrapper">
              <h1 class="page-header">Dashboard</h1>
            </div>
          </div>
          <!-- end header  -->

          <!-- start employee list search & filter  -->
          <div class="row">
            <div class="col-sm-5">
              <div class="employee-list-length">
                <label>
                  Show
                  <select class="form-control input-sm" [(ngModel)]="pageSize" (ngModelChange)="selectPageSize(pageSize)">
                    <option *ngFor="let range of employeeListRange" [ngValue]="range">{{range}}</option>
                  </select>
                  employees
                </label>
              </div>
            </div>
            <div class="col-sm-2 text-center">
              <button type="button" class="btn btn-danger btn-raport" (click)="saveRaport()">Get Raport</button>
            </div>
            <div class="col-sm-5">
              <div class="employee-list-search">
                <label>
                  Search:
                  <input type="search" class="form-control input-sm" [(ngModel)]="searchItem" (keyup)="updatePagination(searchItem, pageSize)" />
                </label>
              </div>
            </div>
          </div>
          <!-- end employee list search & filter  -->

          <!-- start employee list  -->
          <div class="row">
            <div class="col-sm-12">
              <table class="table-list">
                <thead>
                  <tr role="row">
                    <ng-container *ngFor="let property of employeesDataNames">
                      <th class="sorting" *ngIf="property[0] != 'employee_id'" (click)="toggleSortOrder(property[0], property)" [ngClass]="{true: 'sorting_asc', false: 'sorting_desc'}[property.boolVal]">{{property[1]}}</th>
                    </ng-container>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="employeesData.length != 0">
                  <tr role="row" *ngFor="let employees of pagedItems | searchPipe:searchItem | orderBy:sortColumn:sortDirection; let i = index; let last = last">
                    <ng-container *ngFor="let employee of employees | mapToKeyValue">
                      <ng-container *ngIf="employee.key != 'employeeId'">
                        <td>
                          <ng-container *ngIf="employees.editEmployee != true">{{employee.value ? employee.value : '---'}}</ng-container>
                          <ng-container *ngIf="employees.editEmployee == true">
                            <input type="text" value="{{employee.value ? employee.value : '---'}}" />
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>
                    <td>
                      <button type="button" class="btn btn_edit btn-circle" [class.btn_done]="employees.editEmployee" (click)="employees.editEmployee = !employees.editEmployee"><i class="fa"></i></button>
                    </td>
                    <ng-container *ngIf="last">{{changeResultsNumber(i + 1)}}</ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end employee list  -->

          <!-- start employee list pagination  -->
          <div class="row">
            <div class="col-sm-4">
              <ng-container *ngIf="employeesData.length != 0">
                <div class="employee-list-info" role="status">Showing {{resultsNumber}} of {{employeesData.length}} employees</div>
              </ng-container>
            </div>
            <div class="col-sm-8">
              <div class="pagination-wrapper">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="first">
                    <a (click)="setPage(1)">&lt;&lt;</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="previous">
                    <a (click)="setPage(pager.currentPage - 1)">&lt;</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="next">
                    <a (click)="setPage(pager.currentPage + 1)">&gt;</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="last">
                    <a (click)="setPage(pager.totalPages)">&gt;&gt;</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end employee list pagination  -->
        </div>
      </div>
    </div>
  </div>
</div>
