@import "../../assets/css/mixins.scss";

.employee-list-wrapper {
  padding-bottom: 30px;

  .employee-list-length {
    select {
      margin: 0 15px;
    }
  }

  .employee-list-search {
    float: right;

    input {
      margin-left: 15px;
    }
  }

  .employee-list-info {
    white-space: nowrap;
    margin: 10px 0;
    line-height: 40px;
  }
}
