<div id="wrapper">
  <app-sidebar-menu adminMode="2"></app-sidebar-menu>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="project-wrapper">
          <!-- start header  -->
          <div class="row">
            <div class="col-md-12 header-wrapper">
              <h1 class="page-header">{{project.projectNamePas}}</h1>
              <p><a href="mailto:claudiu.bicsabi@endava.com">Join our team!<i class="fa fa-envelope-o" aria-hidden="true"></i></a></p>
            </div>
          </div>
          <!-- end header  -->

          <div class="row">
            <!-- start project details  -->
            <div class="col-sm-8">
              <div class="panel panel-default">
                <h5>Description</h5>
                <p class="project-description">{{project.description}}</p>
                <br/>

                <div class="project-team">
                  <h5>Our Team</h5>
                  <ul>
                    <li><a href="/employee/1"><img src="../../assets/icons/default_profile.png" alt="" />Bicsabi Claudiu</a></li>
                    <li><a href="/employee/2"><img src="../../assets/icons/default_profile.png" alt="" />Amaritei Ciprian</a></li>
                    <li><a href="/employee/3"><img src="../../assets/icons/default_profile.png" alt="" />Rogojan Andreea</a></li>
                  </ul>
                  <br/>
                </div>

                <div *ngIf="project.technologies" class="project-technologies">
                  <h5>Tehnologies</h5>
                  <ul>
                    <li *ngFor="let skill of project.technologies.split(',')">{{skill}}</li>
                  </ul>
                  <br/>
                </div>

                <ng-container *ngIf="project.businessOwnerPas">
                  <h5>Business Owner</h5>
                  <a href="/employee/{{project.businessOwnerPas.employeeId}}">{{project.businessOwnerPas.employeeNamePas}}</a>
                  <br/>
                  <br/>
                </ng-container>

                <ng-container *ngIf="project.contactPersonPas">
                  <h5>Contact Person</h5>
                  <a href="/employee/{{project.contactPersonPas.employeeId}}">{{project.contactPersonPas.employeeNamePas}}</a>
                  <br/>
                </ng-container>
              </div>
            </div>
            <!-- end project details  -->

            <!--start similar projects -->
            <div class="col-sm-4">
              <ng-container *ngIf="projectsData.length != 0">
                <h4 class="proj-similar-title">Projects with similar tehnologies</h4>
                <div class="project-panel" *ngFor="let item of [1,2,3]; let i = index">
                  <h3><a href="/project/{{projectsData[i].projectId}}">{{projectsData[i].projectNamePas}}</a></h3>
                  <p>{{project.description}}</p>
                  <ul *ngIf="projectsData[i].technologies">
                    <li *ngFor="let skill of projectsData[i].technologies.split(',')">{{skill}}</li>
                  </ul>
                  <span *ngIf="!projectsData[i].technologies" class="spacer-ul"></span>
                  <a href="/employee/{{projectsData[i].contactPersonPas.employeeId}}">{{projectsData[i].contactPersonPas.employeeNamePas}}</a>
                </div>
              </ng-container>
            </div>
            <!--end similar projects -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
