@import "../../assets/css/mixins.scss";

.project-wrapper {
  padding-bottom: 30px;

  .header-wrapper {
    padding-bottom: 20px;

    p {
      display: inline-block;
      padding-bottom: 0;
      margin: 0;
      text-transform: uppercase;

      a {
        line-height: 22px;
        font-size: 16px;
        font-weight: 300;
        color: #dc5d2a;

        i {
          line-height: 20px;
          font-size: 20px;
          padding-left: 5px;
        }
      }
    }
  }

  .panel {
    margin-top: 66px;

    h5 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;

      &~p, &~ul, &~a {
        padding-left: 25px!important;
      }
    }

    .project-description {
      color: #607D8B;
    }

    .project-team {
      ul {
        list-style-type: none;
        padding: 0;

        li {
          padding-bottom: 7px;

          &:last-child {
            padding-bottom: 0;
          }

          img {
            max-width: 50px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }

    .project-technologies {
      ul {
        list-style-type: none;
        padding: 0;

        li {
          display: inline-block;
          padding: 2px 8px;
          border-radius: 10px;
          color: #ffffff;
          background-color: #dc5d2a;
          margin-right: 3px;
          cursor: pointer;
        }
      }
    }
  }

  .proj-similar-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
  }
}


