<div id="wrapper">
  <app-sidebar-menu adminMode="2"></app-sidebar-menu>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="project-list-wrapper form-inline">
          <!-- start header  -->
          <div class="row">
            <div class="col-md-12 header-wrapper">
              <h1 class="page-header">Projects</h1>
            </div>
          </div>
          <!-- end header  -->

          <!--start project suggestions-->
          <div class="row">
            <ng-container *ngIf="projectsData.length != 0">
              <div class="col-sm-3" *ngFor="let item of [1,2,3,4]; let i = index">
                <div class="project-panel">
                  <h3><a href="/project/{{projectsData[i].projectId}}">{{projectsData[i].projectNamePas}}</a></h3>
                  <p>{{projectsData[i].description}}</p>
                  <ul *ngIf="projectsData[i].technologies">
                    <li *ngFor="let skill of projectsData[i].technologies.split(',')">{{skill}}</li>
                  </ul>
                  <span *ngIf="!projectsData[i].technologies" class="spacer-ul"></span>
                  <a href="/employee/{{projectsData[i].contactPersonPas.employeeId}}">{{projectsData[i].contactPersonPas.employeeNamePas}}</a>
                </div>
              </div>
            </ng-container>
          </div>
          <!--end projects suggestions-->

          <!--start project list search & filter-->
          <div class="row">
            <div class="col-sm-6">
              <div class="project-list-length">
                <label>
                  Show
                  <select class="form-control input-sm" [(ngModel)]="pageSize" (ngModelChange)="selectPageSize(pageSize)">
                    <option *ngFor="let range of projectListRange" [ngValue]="range">{{range}}</option>
                  </select>
                  projects
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="project-list-search">
                <label>
                  Search:
                  <input type="search" class="form-control input-sm" [(ngModel)]="searchItem" (keyup)="updatePagination(searchItem, pageSize)" />
                </label>
              </div>
            </div>
          </div>
          <!--end project list search & filter-->

          <!-- start project list  -->
          <div class="row">
            <div class="col-sm-12">
              <table class="table-list">
                <thead>
                  <tr role="row">
                    <th class="sorting">Project Name</th>
                    <th class="sorting">Contact Person</th>
                    <th class="sorting" style="">Short Description</th>
                    <th class="sorting">Project Start Date</th>
                    <th class="sorting">Looking for</th>
                  </tr>
                </thead>
                <tbody *ngIf="projectsData.length != 0">
                  <tr role="row" *ngFor="let projects of pagedItems | searchPipe:searchItem | orderBy:sortColumn:sortDirection; let i = index">
                    <td><a href="/project/{{projects.projectId}}">{{projects.projectNamePas}}</a></td>
                    <td><a href="/employee/{{projects.contactPersonPas.username}}">{{projects.contactPersonPas.employeeNamePas}}</a></td>
                    <td>{{projects.description}}</td>
                    <td>{{projects.startDate}}</td>
                    <td>
                      Senior Frontend Developer, EN/SE/CL grade<br/>
                      Automation Tester, EN/SE grade<br/>
                      Automation Test Lead, CL grade
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end project list  -->

          <!-- start project list pagination  -->
          <div class="row">
            <div class="col-sm-12">
              <div class="pagination-wrapper">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="first">
                    <a (click)="setPage(1)">&lt;&lt;</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="previous">
                    <a (click)="setPage(pager.currentPage - 1)">&lt;</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="next">
                    <a (click)="setPage(pager.currentPage + 1)">&gt;</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="last">
                    <a (click)="setPage(pager.totalPages)">&gt;&gt;</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end project list pagination  -->
        </div>
      </div>
    </div>
  </div>
</div>
