.project-list-wrapper {
  padding-bottom: 30px;

  .project-panel {
    p {
      height: 60px;
      overflow: hidden;
    }
  }

  .project-list-length {
    select {
      margin: 0 15px;
    }
  }

  .project-list-search {
    float: right;

    input {
      margin-left: 15px;
    }
  }

  table.table-list {
    display: table;
    table-layout: fixed;
  }
}
