<div class="navbar-default sidebar small-menu" [class.small-menu]="small_menu">
  <!-- start toggle sidebar button -->
  <div class="navbar-header clearfix">
    <button type="button" class="navbar-toggle" (click)="toggleSidebarMenu()" [class.open]="!small_menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand" href="#">Admin</a>
  </div>
  <!-- end toggle sidebar button -->

  <!-- start sidebar menu -->
  <div class="sidebar-nav navbar-collapse active">
    <!-- start user profile pic -->
    <div class="userprofile text-center">
      <div class="userpic">
        <img class="img-responsive" src="../../assets/icons/admin.png" alt="" />
      </div>
      <h3 class="username">Admin</h3>
    </div>
    <!-- end user profile pic -->

    <!-- start sidebar nav -->
    <ul class="nav" id="side-menu">
      <ng-container *ngIf="adminMode == 1">
        <li><a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
        <li><a href="#"><i class="fa fa-line-chart fa-fw"></i> Reports</a></li>
        <li><a href="#"><i class="fa fa-bar-chart fa-fw"></i> Charts</a></li>
      </ng-container>

      <ng-container *ngIf="adminMode == 2">
        <li><a href="/projects"><i class="fa fa-folder-o fa-fw"></i> Projects</a></li>
        <li><a href="/employees"><i class="fa fa-id-badge fa-fw"></i> Employees</a></li>
      </ng-container>

      <li><a href="/login"><i class="fa fa-sign-out fa-fw"></i> Sign out</a></li>
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar menu -->
</div>
