@import "../../assets/css/mixins.scss";

.sidebar {
  background: #ffffff;
  border: none;
  z-index: 99;
  position: fixed;
  width: 250px;
  margin-top: 0;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  @include box-shadow(10px 0px 20px 0 rgba(0, 0, 0, 0.05));
  @include transition(all ease 0.5s);

  .navbar-header {
    float: none;
    width: 250px;

    .navbar-toggle {
      position: relative;
      display: block;
      float: left;
      border: 0;
      height: 24px;
      width: 30px;
      text-align: center;
      margin: 13px 10px 13px 10px;
      @include transition(all ease-in-out .5s);

      &:hover, &:focus {
        background: none;
      }

      span {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background: $en-color;
        border-radius: 6px;
        opacity: 1;
        @include transition(all ease-in-out .25s);

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 10px;
        }
        &:nth-child(4){
          top: 20px;
        }
      }

      &.open {
        span {
          &:nth-child(1) {
            top: 10px;
            width: 0;
            left: 50%;
          }
          &:nth-child(2) {
            @include transform(rotate(45deg));
          }
          &:nth-child(3) {
            @include transform(rotate(-45deg));
          }
          &:nth-child(4) {
            top: 10px;
            width: 0;
            left: 50%;
          }
        }
      }
    }

    .navbar-brand {
      color: #777777;
    }
  }

  .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    border: none;

    .userprofile {
      width: 100%;
      margin: 40px auto;

      .userpic {
        position: relative;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        display: block;
        border-radius: 100%;
        @include box-shadow(0px 3px 10px 0 rgba(0, 0, 0, 0.15));
        @include transition(all ease 0.5s);

        &:hover {
          @include box-shadow(0px 8px 15px 0 rgba(0, 0, 0, 0.25));
        }

        img {
          height: auto;
          width: 100%;
          max-width: 100px;
          border-radius: 100%;
        }
      }
      .username {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        margin-top: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    ul.nav {
      width: 250px;

      li {
        position: relative;
        display: block;

        a {
          display: block;
          line-height: 50px;
          padding: 0 15px;
          text-transform: uppercase;
          font-size: 12px;
          color: #607D8B;
          letter-spacing: 1px;
          position: relative;
          overflow: hidden;

          i {
            font-size: 14px;
            margin-right: 15px;
            width: 20px;
            text-align: center;
          }

          .arrow {
            float: right;
            vertical-align: middle;
            display: inline-block;
            line-height: 50px;

            &:before {
              content: "\f104";
            }
          }
        }

        &.active {
          .arrow {
            &:before {
              content: "\f107";
            }
          }
        }
      }
    }
  }

  &.small-menu {
    width: 50px;
    overflow: visible;

    .navbar-header {
      width: 50px;
      overflow: hidden;

      .navbar-brand {
        display: none;
      }
    }

    .sidebar-nav.navbar-collapse {
      .userprofile {
        margin: 20px auto;

        .userpic {
          width: 70%;
          height: auto;
        }

        .username {
          display: none;
        }
      }

      ul.nav {
        width: 50px;

        li {
          width: 50px;
          overflow: hidden;
          @include transition(all ease .5s);

          &:hover {
            width: 250px;
            overflow: visible;
          }

          a {
            width: 250px;
            overflow: hidden;
            background: #ffffff;
            border-top-right-radius: 1px;
            border-bottom-right-radius: 1px;

            &.active, &:hover {
              background: -webkit-linear-gradient(left, #81d6fe, #ffffff);
              background: -moz-linear-gradient(left, #81d6fe, #ffffff);
              background: -ms-linear-gradient(left, #81d6fe, #ffffff);
              background: -o-linear-gradient(left, #81d6fe, #ffffff);
              background: -webkit-gradient(linear, left top, right top, from(#81d6fe), to(#ffffff));

              &:before {
                content: " ";
                height: 100%;
                width: 2px;
                display: block;
                float: left;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #03A9F4;
              }
            }
          }
        }
      }
    }
  }
}
